.advantages {
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 238px;
    }
    &__subtitle {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }
    &__descr {
        margin-top: 26px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}