.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url('../img/consultation.jpg') center (center/cover) no-repeat;
    &__descr {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}