@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 20px 0 20px;
            column-gap: 80px;
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 42px;
            margin-top: 26px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2,320px);
        }
    }
    .skills {
        &__items {
            padding: 0 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            column-gap: 60px;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__items {
            padding: 0;
            justify-content: center;
            gap: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding-top: 40px;
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
        }
    }
    .contacts {
        padding-top: 40px;
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .resume {
        &__wrapper {
            padding: 40px 5px 0 5px;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit,300px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}