@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/sidepanel';
@import 'blocks/menu';
